@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --color-primary: #0097B2;
    --color-primary-hover: #007D96;
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .animate-spin-icon {
        display: inline-block;
        animation: spin 1.5s linear infinite;
    }
    .btn-primary {
        @apply bg-primary hover:bg-primary-hover focus:ring-1 focus:ring-primary cursor-pointer text-white font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none;
    }
    
    .btn-back {
        @apply inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 cursor-pointer;
    }
    
    .w-128 {
      width: 32rem;
    }
    /* Estilo para desabilitar o textarea/input */
    .editable-content:disabled {
        @apply bg-slate-50 border-slate-200 text-slate-700 cursor-not-allowed;
    }

    /* Estilo para checkboxes desabilitados */
    .checkbox-container.disabled {
        @apply opacity-60 pointer-events-none;
    }

    .checkbox-container.disabled label {
        @apply text-gray-500;
    }

    /* Estilo para campos não editáveis */
    .readonly-content {
        @apply bg-gray-50 border-gray-300 text-gray-700 cursor-not-allowed;
    }

    .btn-outlined {
        @apply text-primary hover:text-white border border-primary hover:bg-primary focus:ring-1 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer;
    }

    .checkbox-custom {
        @apply w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-primary;
    }

    .btn-pgr-outlined {
        @apply text-primary hover:text-white hover:bg-primary border border-primary focus:ring-1 focus:ring-primary focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }

    .radio-pgr {
        @apply w-4 h-4 text-primary bg-gray-100 border-gray-300 focus:ring-primary;
    }

    .btn-pgr {
        @apply bg-primary hover:bg-primary-hover focus:ring-4 focus:ring-primary text-white font-medium rounded-lg text-sm px-5 py-2.5 transition-colors focus:outline-none;
    }

}
