@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --color-primary: #0097B2;
    --color-primary-hover: #007D96;
}

@layer components {
    .btn-primary {
        @apply bg-primary hover:bg-primary-hover focus:ring-4 focus:ring-primary cursor-pointer text-white font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none;
    }
    .w-128 {
      width: 32rem;
    }
}